VITE_SUPABASE_URL=https://[project].supabase.co
VITE_SUPABASE_ANON_KEY=[anon public key]
VITE_CLERK_PUBLISHABLE_KEY=pk_test_... # obtém em clerk.com → Dribly → API Keys
VITE_VAPID_PUBLIC_KEY=BOgbK6KcC6nYHD3mkG5Io7ATErwYKTqLhKZLV5bwWATqhYPdN3gzcqxCFSQL-5Ag4-Qz4pfJbryrs-ZefBeHgaw
